h1{
    color: yellow;
   
   }

table,td,th{
   border: 2px  black;
   border-style: dashed;
   color: crimson;
   background-color: blue;
}
table{

    border-style: solid;
}
th{
   border: 2px dotted blue;
}
.a1{
     background-color: aliceblue;
     color: black;

}